<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- API DASHBOARD-->
		<add key="apiBaseAddress" value="https://apidashboardv2.e-city.co/" />
		<add key="apiKeyId" value="1E4F66B8-8602-4F9F-9AAC-F1D329A4AB1D" />
		<add key="Login" value="Auth/LoginPayPad" />
		<add key="Validate" value="api/PayPad/Validate" />
		<add key="Transaction" value="api/Transaction/Paypad" />
		<add key="TransactionDetails" value="api/Transaction/Paypad/Details" />


		<!--Begin ApiIntegration-->
		<add key="basseAddressIntegration" value="https://apisusuerte.e-city.co/" />
		<add key="basseAddressMail" value="https://api.mailgun.net/v3/" />
		

		<!-- LOGIN PRUEBAS-->
		<add key="username" value="Pay+ Prueba1" />
		<add key="paypadId" value="1" />
		<add key="pwd" value="gk1AK0jm8t/Rf7PurAyJtIURothKG8ikaxenmSBJYHfn7aOvQroIUn4iAiyNDoOi5TaJjFDQx+gtyArGvXTkRplilB2z3BT83uMXC3T8MMsXnj3/jDHiS0Pk2aCeTeE6eiF2k/eHqsDfq8sQn7cCxpMozREGwz2nWrpFBhU7Dpe4Fht1XTCb7hnGAMmrtIqdDr78MDkkcVYIjfoIOZYw5RqFWohKYdRg7Pq6HYtpWWvKTwOR8O2WCom/lCRX+EwkGC7+sMZqPN/eWEAK59SJOQ9UMpNcWYVztmhMhIEY4YbdqIp1lQ0dufoXF0e4YlE8kNPJ5dSFlEO624M3C3sVdw==" />

		<add key="PublishVideo" value="C:\VideoPublish\1.mp4" />
		<add key="TimerPublicity" value="10"/>

		<!--BEGIN SERVICES INTEGRATION-->
		<add key="GetConsultBetplay" value="Susuerte/BetPlay/GetProducts" />
		<add key="GetTokenBetplay" value="Susuerte/BetPlay/GetToken" />
		<add key="NotifyRechargeBetplay" value="Susuerte/BetPlay/NotifyRecharge" />

		<!--Chance SERVICES INTEGRATION-->
		<add key="GetProductsChance" value="Susuerte/Chance/ConsultProducts" />
		<add key="ValidateChance" value="Susuerte/Chance/ValidateChance" />
		<add key="GetLotteries" value="Susuerte/Chance/GetLoteriesChance" />
		<add key="NotifyChance" value="Susuerte/Chance/NotifyChance" />
		<add key="TypeChance" value="Susuerte/Chance/ConsultTypesChance" />


		<!--Recaudo SERVICES INTEGRATION-->
		<add key="GetRecaudo" value="Susuerte/Recaudo/ConsultRecaudos" />
		<add key="GetParameters" value="Susuerte/Recaudo/ConsultParameters" />
		<add key="ConsultRecaudo" value="Susuerte/Recaudo/ConsultDataValue" />
		<add key="NotifyPay" value="Susuerte/Recaudo/NotifyRecaudo" />

		<!--END SERVICES INTEGRATION-->


		<!--END SERVICES INTEGRATION-->

		<!--Paquetes SERVICES INTEGRATION-->
		<add key="ConsultSubproductosPaquetes" value="Susuerte/Paquetes/ConsultSubproductosPaquetes" />
		<add key="ConsultarPaquetes" value="Susuerte/Paquetes/ConsultarPaquetes" />
		<add key="GuardarPaquetes" value="Susuerte/Paquetes/GuardarPaquetes" />
		<!--END SERVICES Paquetes-->

		<!--Recargas SERVICES INTEGRATION-->
		<add key="ConsultarSubproductRecargas" value="Susuerte/Recargas/ConsultarSubproductRecargas" />
		<add key="ConsultarParametrosRecargas" value="Susuerte/Recargas/ConsultarTopesRecargas" />
		<add key="Realizarastro" value="Susuerte/Astro/Realizarastro" />
		<add key="Consultarventa" value="Susuerte/Astro/Consultarventa" />

		<!--END SERVICES Recargas-->



		<!--Astro SERVICES INTEGRATION-->
		<add key="Consultarsorteo" value="Susuerte/Astro/Consultarsorteo" />
		<add key="Consultarsigno" value="Susuerte/Astro/Consultarsigno" />
		<add key="NotificarRecargaCel" value="Susuerte/Recargas/NotificarRecarga" />

		<!--END SERVICES Astro-->



		<!--Begin Services Payer-->

		<add key="ConsultPayer" value="Susuerte/Payer/ConsultPayer" />
		<add key="InsertPayer" value="Susuerte/Payer/InsertPayer" />
		<add key="UpdatePayer" value="Susuerte/Payer/UpdatePayer" />
		<add key="GetOTP" value="Susuerte/Payer/GetOTP" />
		<add key="ValidateOTP" value="Susuerte/Payer/ValidateOTP" />
		<add key="SaveUser" value="Susuerte/Payer/SavePayer" />
		<add key="SendAlert" value="Susuerte/Payer/SendAlert" />
		<add key="AwardsChance" value="Susuerte/Chance/ConsultAwards" />

		<add key="CodData" value="001" />

		<!--End Services Payer-->
		<!--Begin Services Mail-->
		<add key="SendMail" value="mg.susuerte.com/messages" />
		<add key="MailgunApiKey" value="MAILGUN_API_KEY_PLACEHOLDER" />


		<!--End Services Mail-->

		<add key="IdDepartamento" value="17" />
		<add key="FlowID" value="63f3d33eeeb0d100107b52db" />


		<!--Datos de chances-->
		<add key="iva_porcentaje" value="19" />

		<!--End Request Data Recharge-->


		<!--Begin CRM SERVICES-->

		<add key="ConsultarCRMRegistro" value="Susuerte/Recargas/ConsultarCRMRegistro" />
		<add key="CrearRegistroCRM" value="Susuerte/Recargas/CrearRegistroCRM" />
		<add key="UpdateRegistroCRM" value="Susuerte/Recargas/UpdateRegistroCRM" />


		<!--End CRM SERVICES-->

		<!--BEGIN PUERTOS DE LOS PERIFÉRICOS-->
		<add key="Port" value="COM3" />
		<add key="PortAP" value="COM1" />
		<add key="PortPrinter" value="USB001" />
		<add key="PrintBandrate" value="9600" />
		<add key="PortBarcode" value="COM3" />
		<add key="BarcodeBandrate" value="9600" />
		<!--END PUERTOS DE LOS PERIFÉRICOS-->
		
		
		


	</appSettings>
</configuration>